.imageContainer {
    position: relative;
    overflow: hidden;
    width:100%;
  }

  .imageContainer > .zoom{
    transition: all 1s ease;
    filter: transform brightness(1) ;
    object-fit: fill;
    width:100%;
  }

.imageContainer:hover > .zoom{
    transform: scale(1.1);
    background-color: black;
    filter: brightness(0.5);
} 


.imageInfo{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-left: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
}

.textcolorBlack{
    color: black;
}


  .imageTitle{
      font-size: 2rem !important;
      font-weight: 800 !important;
  }

  .iconBackground{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    background: #fff;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 14px;
    margin-right: 5px;
  }